{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded p-4">
            <h3 class="alert alert-light border rounded">Create an account</h3>

            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}

                <div class="form-group m-2">
                    <label for="firstname">First name</label>
                    <input required type="text" name="firstname" id="firstname" class="form-control form-control-sm"
                        value="{{ values.firstname }}">
                </div>

                <div class="form-group m-2">
                    <label for="lastname">Last name</label>
                    <input required type="text" name="lastname" id="lastname" class="form-control form-control-sm"
                        value="{{ values.lastname }}">
                </div>

                <div class="form-group m-2">
                    <label for="email">Email</label>
                    <input required type="email" name="email" id="email" class="form-control form-control-sm"
                        placeholder="example@gmail.com" value="{{ values.email }}">
                </div>

                <div class="form-group m-2">
                    <label for="password">Password</label>
                    <input required type="password" name="password" id="password" class="form-control form-control-sm">
                </div>

                <div class="form-group m-2">
                    <label for="phone">Phone</label>
                    <input required type="text" name="phone" id="phone" class="form-control form-control-sm"
                        placeholder="89********" value="{{ values.phone }}">
                </div>

                <div class="button-container d-flex justify-content-between align-items-center m-1">
                    <button class="btn btn-info" type="submit">Create an account</button>
                    <a href="{% url 'login' %}" class="btn btn-info">Already have an account</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
